{% extends "bootstrap/base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='deep_visual.css') }}"</link>
{% endblock %}

{% block content %}
<h1>{% block title %} Predict similar songs given a song input {% endblock %}</h1>
    <h3> Enter song name or see random song: </h3>
<form method="post">
    <div class="form-group">
        <input type="text" name="name"
               placeholder="Enter track name" class="form-control"
               value="{{ request.form['name'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-primary">Random</button>
    </div>
</form>
{% endblock %}
