<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
      <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/static/deep_visual.css">
  </head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="https://open.spotify.com/">
            <img class="img-responsive2"
            src="/static/images/spotifylogo7.png" style="display: inline-block;">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <img class="img-responsive2" style="display: inline-block; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px">Home</a>
                <li class="nav-item">
                    <a class="nav-link" href="data">
                        <img class="img-responsive2" style="display: inline-block; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reset">
                        <img class="img-responsive2" style="display: inline-block; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px">Reset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/results">
                        <img class="img-responsive2" style="display: inline-block; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px">Results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img class="img-responsive2" style="display: inline-block; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px">Link 4</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %} <h1 style="color:white">{% block title %} Database reset!!! {% endblock %}</h1> {% endblock %}
    </div>
</body>
</html>