<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
      <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/static/deep_visual.css">
  </head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="https://open.spotify.com/">
            <img class="img-responsive2"
            src="/static/images/spotifylogo7.png" style="display: inline-block;">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size:25px">
            <ul class="navbar-nav mx-auto">
                <a class="nav-link" href="/" style="color: white">
                    <img class="img-responsive2" style="display: inline-block; padding-top: 20px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px">Home</a>
                <a class="nav-link" href="data" style="color: white">
                    <img class="img-responsive2" style="display: inline-block; padding-top: 20px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px">Data</a>
                <a class="nav-link" href="/reset" style="color: white">
                    <img class="img-responsive2" style="display: inline-block; padding-top: 20px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px">Reset</a>
                <a class="nav-link" href="/results" style="color: white">
                    <img class="img-responsive2" style="display: inline-block; padding-top: 20px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px">Results</a>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %} <h1 style="color:white">{% block title %} Database reset!!! {% endblock %}</h1> {% endblock %}
    </div>
</body>
</html>